
@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('assets/fonts/Neue Haas Unica W1G/Web Fonts/31267e36af6f8dac65a56e78345e945e.woff2') format('woff2'),
	     url('assets/fonts/Neue Haas Unica W1G/Web Fonts/31267e36af6f8dac65a56e78345e945e.woff') format('woff'),
	     url('assets/fonts/Neue Haas Unica W1G/Web Fonts/31267e36af6f8dac65a56e78345e945e.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas Unica W1G';
	src: url('assets/fonts/NeueHaasUnicaW1G-Bold/Web Fonts/385c99faae5016a461bbe9b19c69885e.woff2') format('woff2'),
	     url('assets/fonts/NeueHaasUnicaW1G-Bold/Web Fonts/385c99faae5016a461bbe9b19c69885e.woff') format('woff'),
	     url('assets/fonts/NeueHaasUnicaW1G-Bold/Web Fonts/385c99faae5016a461bbe9b19c69885e.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Antikor Mono';
	src: url('assets/fonts/Taner Ardali  Antikor Mono Book copie.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*,
*::before,
*::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p, span, a, label
{
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
}

a
{
	text-decoration: none;
	color: inherit;
}

ul, ol
{
	list-style: none;
	margin: 0;
	padding: 0;
}

li
{
	margin: 0;
	padding: 0;
}

button, input[type="submit"], input[type="button"]
{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	outline: none;
}

button:focus, input:focus
{
	outline: none;
}

img
{
	display: block;
	max-width: 100%;
	height: auto;
}

.hidden-trick {
    position: relative;
    border: none;
    display: block;
    width: 0px;
    height: 0px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html
{
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body
{
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: 'Neue Haas Unica W1G', sans-serif;
	font-weight: bold;
	font-size: 18px;
	background-color: rgb(252, 250, 240);
}

.text-upper{
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.2;
}

.container{
	padding: 2rem;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo{
	width: 240px;
	line-height: 1;
}

.main__header{
	display: grid;
	grid-template-columns: 1.5fr 1fr 1.5fr;
	align-items: end;
}

.main__btns, .main__links{
	font-family: 'Antikor Mono', sans-serif;
	display: flex;
	gap: 2rem;
	line-height: 1;
}

.main__links{
	justify-self: end;
}

.main__btns{
	justify-self: left;
}

.main__btn:hover{
	text-decoration: line-through;
}

.main__btn--active{
	text-decoration: line-through;
}

.section{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2.5rem;
}

.section__image{
	max-width: 600px;
	object-fit: cover;
}

.section__content{
	display: flex;
	gap: 2rem;
}

.section__text{
	display: flex;
	flex-direction: column;
	gap: 3rem;
	max-width: 450px;
}

.section__description{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

footer{
	display: flex;
	justify-content: space-between;
	margin-top: 2.5rem;
}
