
*,
*::before,
*::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p, span, a, label
{
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
}

a
{
	text-decoration: none;
	color: inherit;
}

ul, ol
{
	list-style: none;
	margin: 0;
	padding: 0;
}

li
{
	margin: 0;
	padding: 0;
}

button, input[type="submit"], input[type="button"]
{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	outline: none;
}

button:focus, input:focus
{
	outline: none;
}

img
{
	display: block;
	max-width: 100%;
	height: auto;
}

html
{
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body
{
	margin: 0;
	padding: 0;
	line-height: 1.5;
}
